@inject Microsoft.AspNetCore.Identity.SignInManager<AmbulanceManagement.Models.ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<AmbulanceManagement.Models.ApplicationUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    var isAdmin = false;
    var isDoctor = false;
    var isNurse = false;

    if (user != null && signInManager.IsSignedIn(User))
    {
        isAdmin = await userManager.IsInRoleAsync(user, "Admin");
        isDoctor = await userManager.IsInRoleAsync(user, "Doctor");
        isNurse = await userManager.IsInRoleAsync(user, "Nurse");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styleAdmin.css">
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @if (signInManager.IsSignedIn(User))
    {
            <div class="main-wrapper">

                <div class="header">
                    <div class="header-left">
                        <a asp-controller="Home" asp-action="Index"  class="logo">
                            <img src="/img/logo.png" width="35" height="35" alt=""> <span>Preclinic</span>
                        </a>
                    </div>
                    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
                    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
                    <ul class="nav user-menu float-right mr-3">

                        <li class="nav-item dropdown has-arrow">
                            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                                <span class="user-img">
                                    <img class="rounded-circle" src="/img/user.jpg" width="24" alt="Admin">
                                    <span class="status online"></span>
                                </span>
                            <span> @user.Name</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Details" asp-route-id="@signInManager.UserManager.GetUserId(User)">My Profile</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Edit" asp-route-id="@signInManager.UserManager.GetUserId(User)">Edit Profile</a>

                                <form method="post" id="logoutForm" asp-controller="Account" asp-action="LogOff">
                                    <a role="button" class="dropdown-item" onclick="event.target.parentNode.submit();">Logout</a>
                                </form>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown mobile-user-menu float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="profile.html">My Profile</a>
                            <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                            <a class="dropdown-item" href="settings.html">Settings</a>
                            <a class="dropdown-item" href="login.html">Logout</a>
                        </div>
                    </div>
                </div>
            @if (isAdmin)
            {
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-inner slimscroll">
                        <div id="sidebar-menu" class="sidebar-menu">
                            <ul>
                                <li class="menu-title">Main</li>
                                <li class="active">
                                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                                </li>
                                <li>
                                    <a asp-action="ListAll" asp-controller="Account"><i class="fa fa-user-md"></i> <span>Employees</span></a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Patients"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Appointments"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Reports"><i class="fa fa-book"></i> <span>Reports</span></a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            }
            @if(isDoctor){
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-inner slimscroll">
                        <div id="sidebar-menu" class="sidebar-menu">
                            <ul>
                                <li class="menu-title">Main Doctor</li>
                                 <li class="active">
                                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                                </li>
                                <li>
                                    <a asp-action="ListDoctors" asp-controller="Account"><i class="fa fa-user-md"></i> <span>Employees</span></a>
                                </li>

                                <li>
                                    <a asp-action="Index" asp-controller="Patients"><i class="fa fa-wheelchair"></i> <span> Patients </span> </a>
                                </li>
                                <li class="submenu">
                                    <a asp-action="Index" asp-controller="Appointments"><i class="fa fa-calendar"></i> <span> Appointments </span> <span class="menu-arrow"></span></a>
                                    <ul style="display: none;">
                                        <li><a asp-action="Index" asp-controller="Appointments"> List Appointments</a></li>
                                        <li><a asp-action="Create" asp-controller="Appointments">Create Appointment</a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Reports"><i class="fa fa-book"></i> <span>Reports</span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            }
            @if (isNurse)
            {
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-inner slimscroll">
                        <div id="sidebar-menu" class="sidebar-menu">
                            <ul>
                                <li class="menu-title">Main Doctor</li>
                                <li class="active">
                                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                                </li>
                                <li>
                                    <a asp-action="ListDoctors" asp-controller="Account"><i class="fa fa-user-md"></i> <span>Employees</span></a>
                                </li>

                                <li class="submenu">
                                    <a asp-action="Index" asp-controller="Appointments"><i class="fa fa-wheelchair"></i> <span> Patients </span> <span class="menu-arrow"></span></a>
                                    <ul style="display: none;">
                                        <li><a asp-action="Index" asp-controller="Patients"> List Patients</a></li>
                                        <li><a asp-action="Create" asp-controller="Patients">Create Patient</a></li>
                                    </ul>

                                </li>
                                <li class="submenu">
                                    <a asp-action="Index" asp-controller="Appointments"><i class="fa fa-calendar"></i> <span> Appointments </span> <span class="menu-arrow"></span></a>
                                    <ul style="display: none;">
                                        <li><a asp-action="Index" asp-controller="Appointments"> List Appointments</a></li>
                                        <li><a asp-action="Create" asp-controller="Appointments">Create Appointment</a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Reports"><i class="fa fa-book"></i> <span>Reports</span></a>
                                </li>

                           
                            </ul>
                        </div>
                    </div>
                </div>
            }

                <div class="page-wrapper">
                    <div class="content">

                        @RenderBody()

                    </div>
                </div>
            </div>
    }
    else
    {
        <div class="content">

            @RenderBody()

        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
