@model IEnumerable<ApplicationUser>
@inject Microsoft.AspNetCore.Identity.SignInManager<AmbulanceManagement.Models.ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<AmbulanceManagement.Models.ApplicationUser> userManager

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Patients</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a asp-action="Register" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Employee</a>
        </div>
    </div>
    <table class="table table-border table-striped custom-table datatable mb-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Number</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Education</th>
                <th>Type</th>
                <th>Biography</th>
                <th>Picture</th>
                <th>Actions</th> <!-- Added column for actions -->
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>
                        @if (userManager != null)
                        {
                            var roles = await userManager.GetRolesAsync(user);
                            if (roles.Any())
                            {
                                
                                @foreach (var role in roles)
                                {
                                    @role
                                }
                            }
                            else
                            {
                                <p>No roles assigned.</p>
                            }
                        }
                        else
                        {
                            <p>UserManager not available.</p>
                        }
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Number</td>
                    <td>@user.DateOfBirth.ToShortDateString()</td>
                    <td>@user.Gender</td>
                    <td>@user.Education</td>
                    <td>@user.Type</td>
                    <td>@user.Biography</td>
                    <td>
                        @if (user.ProfilePictureData != null)
                        {
                            <img width="150" src="data:@user.ProfilePictureContentType;base64,@Convert.ToBase64String(user.ProfilePictureData)" alt="Profile Picture" class="img-thumbnail" />
                        }
                        else
                        {
                            <p>No profile picture available.</p>
                        }
                    </td>
                    <td>
                        <div class="dropdown dropdown-action">
                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@user.Id"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@user.Id"> <i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@user.Id"><i class="bi bi-card-list"></i> Details</a>
                                <a class="dropdown-item" asp-action="EditPassword" asp-route-id="@user.Id"><i class="bi bi-shield-lock-fill"></i> Change Password</a>
                                <a class="dropdown-item" asp-action="EditProfilePic" asp-route-id="@user.Id"><i class="bi bi-shield-lock-fill"></i> Change Photo</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no users to display.</p>
}
