@model AmbulanceManagement.Models.Report

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Report Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 font-weight-bold">Visit Date:</div>
                <div class="col-md-9">@Html.DisplayFor(model => model.VisitDate)</div>

            </div>
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">Patient Name:</div>
                <div class="col-md-9">@ViewBag.PatientName</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">Doctor:</div>
                <div class="col-md-9">@Html.DisplayFor(model => model.Doctor.Name)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">Symptoms:</div>
                <div class="col-md-9">@Html.DisplayFor(model => model.Symptoms)</div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">Diagnosis:</div>
                <div class="col-md-9">@Html.DisplayFor(model => model.Diagnosis)</div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3 font-weight-bold">Appointment ID:</div>
                <div class="col-md-9">@Html.DisplayFor(model => model.Appointment.AppointmentId)</div>
            </div>
        </div>
        <div class="card-footer text-right">
            <a asp-action="Edit" asp-route-id="@Model?.ReportId" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit Report</a>
            <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to List</a>
            <a href="@Url.Action("Print", new { id = Model?.ReportId })" target="_blank" class="btn btn-secondary"><i class="fa fa-print"></i> Print</a>
        </div>
    </div>
</div>
