@model IEnumerable<AmbulanceManagement.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Reports</h1>
<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Appointments</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <a asp-action="Create" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Report</a>
    </div>
</div>

<table class="table table-striped custom-table datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReportId">@Html.DisplayFor(modelItem => item.VisitDate)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescriptions)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)
            </td>

            <td>
                    <div class="dropdown dropdown-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ReportId"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.ReportId"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                         </div>
                    </div>               
            </td>
        </tr>
}
    </tbody>
</table>
