@model AmbulanceManagement.Models.Appointment

@{
    ViewData["Title"] = "Appointment Details";
}

<div class="content">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="page-title">Appointment Details</h4>
        </div>
        <div class="col-sm-4 text-right">
            <a asp-action="Edit" asp-route-id="@Model?.AppointmentId" class="btn btn-primary btn-rounded"><i class="fa fa-pencil"></i> Edit Appointment</a>
        </div>
    </div>

    <dl class="card-box">
        <div class="row">
            <div class="col-md-6">
                <dt>Doctor:</dt>
                <dd>@Model.Doctor.Name</dd>

                <dt>Patient:</dt>
                <dd>@Model.Patient.Name</dd>
            </div>
            <div class="col-md-6">
                <dt>Date:</dt>
                <dd>@Model.AppointmentDate.ToShortDateString()</dd>

                <dt>Time:</dt>
                <dd>@Model.AppointmentHour</dd>

                <dt>Status:</dt>
                <dd>
                    @if (Model.IsApproved)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending Approval</span>
                    }
                </dd>
            </div>
        </div>
    </dl>

    <div class="text-right mt-3">
        <a asp-action="Index" class="btn btn-secondary btn-rounded"><i class="fa fa-arrow-left"></i> Back to Appointment List</a>
        <a asp-action="CreateWithId" asp-controller="Reports" asp-route-appointmentId="@Model.AppointmentId" asp-route-doctorId="@Model.DoctorId" asp-route-date="@Model.AppointmentDate" class="btn btn-primary btn-rounded"><i class="fa fa-pencil"></i>Create Report</a>
    </div>
</div>
